body{
    background-color: #ddd;
}

.bt{
    font-size: 25px;
}

.bn{
    font-size: 20px;
}

.tnt{
    background-color: black;
    padding: 25px;
}

.tn{
    color: #ddd;
}

.an{
    width: 20px;
}

.en{
    width: 30px;
}